.card{
    display: flex;
    width: 30%;
    display: flex;
    flex-direction:center;
    border: 2px solid orange;
    align-content: center;
    margin: 0 auto;
  
}

.card-header{
    height: 30%;
    background: #5d6778;
    color: wheat;
    text-align: center;
   
    

}

.card-header p{
    font-size: 20px;
    
}

.container{
    padding: 4px  16px;
}

.btn{
    border: none;
  background-color: wheat;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin :4px 2px;
    cursor: pointer;
}


.btn-edit{
    background-color: rgb(49, 115, 237);
}

.btn-view{
    background-color: rgb(14, 183, 158);
    color: black;
}

.btn-delete{
    background-color: red;
}

