*{
    margin:0px;
    padding: 0px;
}

.header{
    background-color: #f1f1f1;
    overflow: hidden;
    
}

.header p{
float: left;
color: black;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 18px;
line-height: 15px;
border-radius: 4px;
}

.header p.logo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(29, 107, 133);
}

.header p:hover{
    background-color: white;
    color: peru;
}

.header p.active{
    background-color: dodgerblue;
    color:white;
}

.header-right{
    display: flex;
    float: right;
    

}

@media screen and (max-width:500px){
    .header p{
        float: none;
        display: block;
        text-align: left;
    }

    .header-right{
        float: none;
    }
}









.header{
    background-color: red;
}

.logo{
    color: green;
}

.header-right{
    background-color: blue;
}